<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Missions</h1>
		<ul>
			<li><a href="./marsMissions/0"> <%= marsMission[0].name %> </a></li>
			<li><a href="./marsMissions/1"><%= marsMission[1].name %></a></li>
			<li><a href="./marsMissions/2"><%= marsMission[2].name %></a></li>
			<li><a href="./marsMissions/3"><%= marsMission[3].name %></a></li>
			<li><a href="./marsMissions/4"><%= marsMission[4].name %></a></li>
		</ul>
</body>
</html>