<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Fruits</title>
</head>
<body>
	<h1>Hi! Pick a fruit:</h1>

<ul>
	<a href="fruits/0"><%=fruit[0].name; %></a>
	<a href="fruits/1"><%=fruit[1].name; %></a>
	<a href="fruits/2"><%=fruit[2].name; %></a>
	<a href="fruits/3"><%=fruit[3].name; %></a>
	<a href="fruits/4"><%=fruit[4].name; %></a>
</ul>			

</body>
</html>